<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/tmp'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great
            <br/>
            
        </h1>
        <p>Welcome to templating using EJS - ABOUT PAGE</p>
        <h2>Variablee</h2>
        <p><%= tagline %></p>


        <ul>
            <% 
                mascots.forEach(function(mascot) { %>
                <li>
                    <strong><%= mascot.name %></strong>
                    representing <%= mascot.organization %>, born <%= mascot.birth_year %>
                </li>
            <% 
                }); 
            %>
        </ul>
    </div>
</main>

<footer>
    <%- include('../partials/footer', {variant:'compact'}); %>
</footer>

</body>
</html>